<!-- 
# PARTIALS

# são partes do layout de um site que irão ser reutilizadas diversas vezes
# como por exemplo, Cabeçalhos / Rodapés / Menus

# OBS.: elas SEMPRE devem ser nomeadas com um '_' no início 
-->

<ul>
    <li>
        <%= link_to t('activerecord.models.coin.other'), coins_path %>
    </li>
    <li>
        <%= link_to t('activerecord.models.mining_type.other'), mining_types_path %>
    </li>
</ul>