<!-- 
# PARTIALS

# são partes do layout de um site que irão ser reutilizadas diversas vezes
# como por exemplo, Cabeçalhos / Rodapés / Menus

# OBS.: elas SEMPRE devem ser nomeadas com um '_' no início 
-->

<ul>
    <li>
        <%= link_to "Cadastro de Moedas", coins_path %>
    </li>
</ul>