<!-- 
# PARTIALS

# são partes do layout de um site que irão ser reutilizadas diversas vezes
# como por exemplo, Cabeçalhos / Rodapés / Menus

# OBS.: elas SEMPRE devem ser nomeadas com um '_' no início 
-->

<ul>
    <li>
        <%= link_to I18n.t('coins.title'), coins_path %>
    </li>
    <li>
        <%= link_to I18n.t('mining_type.title'), mining_types_path %>
    </li>
</ul>